{% extends 'base.html.twig' %}

{% block title %}CycloTrainer - Dashboard
{% endblock %}

{% block body %}
	<header class="bg-[#4A4A45] py-4 px-8 fixed top-0 left-0 w-full z-50">
		<div class="container mx-auto flex justify-between items-center">
			<!-- Logo y Título -->
			<a href="/" class="text-white text-3xl font-bold">CycloTrainer</a>

			<!-- Menú de navegación en el header -->
			<nav class="flex items-center space-x-6">
				<ul class="hidden lg:flex space-x-6">
					<li>
						<a href="{{ path('exercises') }}" class="text-white font-bold hover:text-yellow-400">Ejercicios</a>
					</li>
					<li>
						<a href="{{ path('workouts') }}" class="text-white font-bold hover:text-yellow-400">Entrenamientos</a>
					</li>
					<li>
						<a href="{{ path('history') }}" class="text-white font-bold hover:text-yellow-400">Historial</a>
					</li>
				</ul>

				<!-- Botón de Logout -->
				<a href="{{ path('app_logout') }}" class="text-black bg-yellow-500 hover:bg-yellow-600 py-2 px-4 rounded-lg text-sm font-semibold transition duration-300 hidden lg:block">Logout</a>
			</nav>
		</div>

	</header>

	<!-- Contenido principal -->
	<main class="pt-32 min-h-screen bg-cover bg-center" style="background-image: url('{{ asset('images/pesas.png') }}');">
		<!-- Título principal con el nombre del usuario -->
		<h1 class="text-6xl text-center text-white font-bold mb-6">Bienvenido
			{{ app.user.username }}</h1>

		<!-- Workouts en cuadrícula centrada -->
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-8">
			{% for workout in workouts %}
				<div class="bg-yellow-500 text-black rounded-lg shadow-lg p-8 mt-8 text-center hover:scale-105 transform transition duration-300">
					<h2 class="text-xl font-bold">{{ workout.name }}</h2>
					<a href="{{ path('app_workout_show', {id: workout.id}) }}" class="text-yellow-700 hover:text-black mt-3 inline-block">
						Ver detalles
					</a>
				</div>
			{% endfor %}
		</div>


	</main>
{% endblock %}






