{% extends 'base.html.twig' %}

{% block title %}CycloTrainer - Exercises
{% endblock %}

{% block body %}

<header class="bg-[#4A4A45] py-4 px-8 fixed top-0 left-0 w-full z-50">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo y Título -->
        <a href="/" class="text-white text-3xl font-bold">CycloTrainer</a>

        <!-- Menú de navegación en el header -->
        <nav class="flex items-center space-x-6">
            <ul class="hidden lg:flex space-x-6">
                <li>
                    <a href="{{ path('exercises') }}" class="text-white font-bold hover:text-yellow-400">Ejercicios</a>
                </li>
                <li>
                    <a href="{{ path('create_workout') }}" class="text-white font-bold hover:text-yellow-400">Entrenamientos</a>
                </li>
                <li>
                    <a href="{{ path('history') }}" class="text-white font-bold hover:text-yellow-400">Historial</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- Contenido principal -->
<main
	class="pt-12 min-h-screen bg-cover bg-center" style="background-image: url('{{ asset('images/pesas.png') }}');">
	<!-- Título principal con el nombre del usuario -->

	<div class="flex justify-center items-center">
		<h1 class="text-3xl md:text-6xl text-center text-white font-bold my-8">Ejercicios</h1>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-8 mb-8">
		{% for exercise in exercises %}
			<div
				class="bg-yellow-500 text-black rounded-lg shadow-lg p-6 text-center hover:scale-105 transform transition duration-300">
				<!-- Imagen del ejercicio (usando la URL de la base de datos) -->
				<img
				src="{{ exercise.photo }}" alt="{{ exercise.name }}" class="w-full h-40 object-cover rounded-lg mb-4">

				<!-- Nombre del ejercicio -->
				<h2 class="text-xl font-bold">{{ exercise.name }}</h2>

				<!-- Enlace a la página de detalles del ejercicio -->
				<a href="{{ path('exercise_detail', {id: exercise.id}) }}" class="text-yellow-700 hover:text-black mt-3 inline-block">
					Ver Detalles
				</a>
			</div>
		{% endfor %}
	</div>
</main>
{% endblock %}








