<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CycloTrainer
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ importmap() }}
		{% endblock %}
	</head>

	<body class="bg-cover bg-center bg-gray-100" style="background-image: url('{{ asset('images/pesas.png') }}');">
		<header class="bg-[#4A4A45] py-4 px-8 fixed top-0 left-0 w-full z-50">
			<div
				class="container mx-auto flex justify-between items-center">
				<!-- Logo y título -->
				<a href="/" class="text-white text-3xl font-bold">CycloTrainer</a>

				<!-- Botones Login y Register (Solo en home.html.twig, no aquí) -->
				{% block header_buttons %}{% endblock %}
			</div>
		</header>

		<main
			class="pt-4 min-h-screen">
			<!-- Añadimos padding-top para que el contenido no se sobreponga al header -->
			{% block body %}
				<!-- Contenido principal de la página -->
			{% endblock %}
		</main>

		<footer class="bg-[#4A4A45] py-4 text-white mt-12">
			<!-- Contenedor principal del footer -->
			<div class="flex justify-between items-center">
				<!-- Espacio vacío a la izquierda para balancear el layout -->
				<div class="flex-1"></div>

				<!-- Contenedor enlaces y texto de derechos reservados -->
				<div class="text-center">
					<div>
						<a href="{{ path('history') }}" class="text-yellow-500 hover:text-yellow-400">FAQ</a>
						|
						<a href="{{ path('workouts') }}" class="text-yellow-500 hover:text-yellow-400">About Us</a>
						|
						<a href="{{ path('exercises') }}" class="text-yellow-500 hover:text-yellow-400">Contact</a>
					</div>
					<div class="mt-2">
						&copy; {{ "now"|date("Y") }} CycloTrainer. Todos los derechos reservados.
					</div>
				</div>

				<!-- Contenedor de los iconos -->
				<div class="flex-1 flex justify-end space-x-4 pr-4">
					<!-- Primer icono -->
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
						<g fill="#fcc419" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
							<g transform="scale(5.33333,5.33333)">
								<path d="M16.5,5c-6.33361,0 -11.5,5.16639 -11.5,11.5v15c0,6.33276 5.16621,11.5 11.5,11.5h15c6.33294,0 11.5,-5.16706 11.5,-11.5v-15c0,-6.33379 -5.16724,-11.5 -11.5,-11.5zM16.5,8h15c4.71124,0 8.5,3.78779 8.5,8.5v15c0,4.71106 -3.78894,8.5 -8.5,8.5h-15c-4.71221,0 -8.5,-3.78876 -8.5,-8.5v-15c0,-4.71239 3.78761,-8.5 8.5,-8.5zM34,12c-1.105,0 -2,0.895 -2,2c0,1.105 0.895,2 2,2c1.105,0 2,-0.895 2,-2c0,-1.105 -0.895,-2 -2,-2zM24,14c-5.50482,0 -10,4.49518 -10,10c0,5.50482 4.49518,10 10,10c5.50482,0 10,-4.49518 10,-10c0,-5.50482 -4.49518,-10 -10,-10zM24,17c3.88318,0 7,3.11682 7,7c0,3.88318 -3.11682,7 -7,7c-3.88318,0 -7,-3.11682 -7,-7c0,-3.88318 3.11682,-7 7,-7z"></path>
							</g>
						</g>
					</svg>

					<!-- Segundo icono -->
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
						<g fill="#fcc419" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
							<g transform="scale(8,8)">
								<path d="M16.00781,3.97852c-3.81576,0.00089 -7.6314,0.49225 -11.32617,1.4707c-0.00065,0 -0.0013,0 -0.00195,0c-0.93149,0.24759 -1.69052,0.92985 -2.0293,1.83984c-2.18645,5.87328 -2.28224,11.52746 -0.00586,17.45703c0.00065,0.00065 0.0013,0.0013 0.00195,0.00195c0.34557,0.89817 1.10176,1.56522 2.02539,1.80859c7.43057,1.95584 15.21712,1.95118 22.6582,-0.01367c0.92324,-0.24439 1.68132,-0.91316 2.02539,-1.81445c2.23587,-5.86192 2.23284,-11.60426 -0.00391,-17.4668c-0.34276,-0.89884 -1.09739,-1.5676 -2.01953,-1.8125c-3.69417,-0.98228 -7.50846,-1.4716 -11.32422,-1.4707zM16.00781,5.98047c3.64449,-0.00086 7.28772,0.46562 10.81055,1.40234c0.29786,0.0791 0.55877,0.31058 0.66602,0.5918c2.08525,5.46546 2.08603,10.57694 0.00195,16.04102c-0.10793,0.28271 -0.36721,0.51414 -0.66797,0.59375c-7.1083,1.87698 -14.53985,1.88134 -21.63672,0.01367h-0.00195c-0.29781,-0.079 -0.55971,-0.31238 -0.66797,-0.59375c-2.12138,-5.52582 -2.03917,-10.5349 0.01172,-16.04297c0.10722,-0.288 0.36741,-0.52311 0.66992,-0.60352c3.52523,-0.93355 7.16996,-1.40149 10.81445,-1.40234zM13.65234,10.00586c-1.00382,0.05183 -1.93395,0.71032 -2.19336,1.75195c-0.62832,2.51986 -0.62832,5.96452 0,8.48438c0.34607,1.38962 1.88283,2.09836 3.19922,1.5918c2.21366,-0.85075 4.90934,-2.49324 6.66211,-4.22852c0.87738,-0.86705 0.87738,-2.34389 0,-3.21094c-1.75331,-1.73364 -4.44876,-3.37877 -6.66211,-4.23047c-0.32908,-0.12606 -0.67125,-0.17548 -1.00586,-0.1582zM13.75,11.99805c0.06007,-0.00179 0.12499,0.00776 0.19141,0.0332c1.89265,0.7283 4.51797,2.3468 5.97266,3.78516c0.14263,0.14095 0.14263,0.22624 0,0.36719c-1.45323,1.43873 -4.08032,3.05595 -5.97266,3.7832c-0.26361,0.10144 -0.50104,-0.04061 -0.54297,-0.20898c-0.51569,-2.06814 -0.51569,-5.44748 0,-7.51562c0.0316,-0.12687 0.17136,-0.23877 0.35156,-0.24414z"></path>
							</g>
						</g>
					</svg>

					<!-- Tercer icono -->
					<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0,0,256,256">
						<g fill="#fcc419" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
							<g transform="scale(10.66667,10.66667)">
								<path d="M5,3c-1.105,0 -2,0.895 -2,2v14c0,1.105 0.895,2 2,2h14c1.105,0 2,-0.895 2,-2v-14c0,-1.105 -0.895,-2 -2,-2zM5,5h14v14h-14zM7.7793,6.31641c-0.857,0 -1.37109,0.51517 -1.37109,1.20117c0,0.686 0.51416,1.19922 1.28516,1.19922c0.857,0 1.37109,-0.51322 1.37109,-1.19922c0,-0.686 -0.51416,-1.20117 -1.28516,-1.20117zM6.47656,10v7h2.52344v-7zM11.08203,10v7h2.52344v-3.82617c0,-1.139 0.81264,-1.30273 1.05664,-1.30273c0.244,0 0.89649,0.24473 0.89649,1.30273v3.82617h2.44141v-3.82617c0,-2.197 -0.97627,-3.17383 -2.19727,-3.17383c-1.221,0 -1.87226,0.40656 -2.19726,0.97656v-0.97656z"></path>
							</g>
						</g>
					</svg>
				</div>
			</div>
		</footer>
	</body>
</html>











