<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CycloTrainer
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{{ importmap() }}
		{% endblock %}
	</head>

	<body class="bg-cover bg-center bg-gray-100" style="background-image: url('{{ asset('images/pesas.png') }}');">
		<header class="bg-[#4A4A45] py-4 px-8 fixed top-0 left-0 w-full z-50">
			<div
				class="container mx-auto flex justify-between items-center">
				<!-- Logo y título -->
				<a href="/" class="text-white text-3xl font-bold">CycloTrainer</a>

				<!-- Botones Login y Register (Solo en home.html.twig, no aquí) -->
				{% block header_buttons %}{% endblock %}
			</div>
		</header>

		<main
			class="pt-4 min-h-screen">
			<!-- Añadimos padding-top para que el contenido no se sobreponga al header -->
			{% block body %}
				<!-- Contenido principal de la página -->
			{% endblock %}
		</main>

		<footer
			class="bg-[#4A4A45] py-4 text-center text-white mt-12">
			<!-- Añadido margen superior para espacio entre el contenido y el footer -->
			<div class="mt-6 text-center">
				<a href="{{ path('history') }}" class="text-yellow-500 hover:text-yellow-400">FAQ</a>
				|
				<a href="{{ path('workouts') }}" class="text-yellow-500 hover:text-yellow-400">About Us</a>
				|
				<a href="{{ path('exercises') }}" class="text-yellow-500 hover:text-yellow-400">Contact</a>
			</div>
			<div class="mt-4">
				&copy;
				{{ "now"|date("Y") }}
				CycloTrainer. Todos los derechos reservados.
			</div>
		</footer>
	</body>
</html>







